*{
    font-family: 'Bodoni Moda', serif;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
input{
    margin-top: 100px;
    margin-right: 20px;
    height: 70px;
    width: 300px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
}
.btn{
    width: 20px;
    padding: 4px;
    cursor: pointer;
}